body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ede9fe;
    display: flex;
    justify-content: center;
}
.login {
    margin-top: 130px;
    background-color: #ffff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.login label {
    display: block;
    margin-bottom: 4px;
}
.login input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #6b21a8 ;
    border-radius: 7px;
    padding: 8px;
    box-sizing: border-box;
}
.login button {
    width: 100%;
    margin-top: 8px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #6b21a8;
    color: white;
}
.login button:hover {
    background-color: #4c1d95 ;
}
.login h1 {
    text-align: center;
    margin-bottom: 30px;
}
.login p {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}
.login a {
    text-decoration: none;
}